html{
    height: 100%;
    --color: lightgrey;
    font-family: 'Josefin Sans', sans-serif;
}
h1{
    font-size: 3em;
}
body{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
header{
    width: 50%;
    color: rgb(151, 182, 238);
}
strong{
    color: darkblue;
}
main{
    display: flex;
    /* background-image: radial-gradient(rgb(151, 182, 238),rgb(61, 128, 253)); */
    background-repeat: no-repeat;
    border-radius:1em;
    justify-self: center;
    flex-direction: column;
    width: 50%;
    height: auto;
    border-style: solid;
    border-width: 1.5em 0.1em 0.1em;
    border-image-source: linear-gradient(10deg, blue, rgb(21, 175, 226));
    border-image-slice: 1;
}
/* .taskList{
    
} */

/* #top-bar{
    background-image: linear-gradient(10deg, blue, rgb(21, 175, 226));
    height: 1em;
    border-radius: 1em 1em 0em 0em;
} */
/* #todoList{
    padding: 5%;
    
} */
.deleteButton{
    display:block;
}
.deleteButton i{
    /* position: absolute; */
    padding: 0.1em;
}
button{
    border-style: none;
    border-width: 0%;
    border-radius: 50%;
    padding: 0;
    width: 2em;
    height: 2em;
    border-style: solid;
    border-width: thin;
    border-color: #5588ff;
    color: #5588ff;
    background-color: white;
    line-height: 2em;
}
#arrow{
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #0000 #0000 #5588ff #0000;
    border-width: 0.6em;
    pointer-events: none;
}
#showAndHideButton{
    width: 4em;
    height: 4em;
    align-self: center;
    margin: 1em 1em;
    background-color: #3366ff;
    color: white;
}
#selectList{
    border-style: none;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0.5em;
    margin: 0 0 1em 0;
}
i{
    pointer-events: none;
}
button :hover{
    background-color:red;
}
#todoForm{
    display: flex;
    margin: 5%;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    height: 0px;
    overflow: hidden;
    transition: height 1s ease;
}
#newTaskInput{
    /* display:none; */
    justify-content: space-between;
    flex-wrap: wrap;
}

#todoForm input{
    padding: 1%;
    border-style: none;
}

#newList{
    display: none;
    width: 100%;
    justify-content: space-between;
    margin: 0 0 1em 0;
}
#newList input{
    width: 70%;
}
#textInput{
    width: 70%;
}
#rating{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 50px;
    flex-direction: row-reverse;
}
#rating input{
    display: none;
}
#rating label{
    /* cursor: pointer;
    content: '\e806';
    font-family: "fontello";
    width: 50px;
    color: white; */
    color: var(--color);
    width: 50px;
    cursor: pointer;
    transition: .5s;
}
#rating label:hover{
    color: darkblue;
}
#rating label:hover ~ label{
    color: darkblue;
}
/* #rating label:hover:target{
    color: darkblue;
} */
.taskBar{
    display: flex;
    background-color: white;
    height: 3em;
    align-items: center;
    padding: 0em 1em 0em 1em;
    justify-content: center;
}
/* .taskButton{
    display:flex;
    justify-content: center;
    font-weight: bold;
} */
.taskBar:hover{
    background-color:#3366ff;
    color: white;
}
/* .taskBar:active{
    background-image:linear-gradient(10deg, blue, rgb(21, 175, 226)) ;
} */
.mainTitle{
    display: flex;
    justify-content: center;
    margin: 0.5em;
}
.group{
    /* display: none; */
    /* max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out; */
    overflow: hidden;
    transition: height 1s ease;
    height: 0px;
}

/* .group::-webkit-scrollbar{
    width: 0.5em;
}
.group::-webkit-scrollbar-thumb{
    background-image: linear-gradient(10deg, blue, rgb(21, 175, 226));
    border-radius: 30px;
}
/* .group::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */
.task{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0.2em 1em;
    /* height: 0;
    overflow: hidden;
    transition: height 1s ease; */
}
.taskStars{
    width:30%;
}
.taskStars i{
    color:white;
    font-size: 1em;
}
